


<div class="container-fluid text-center">
    @if (Images != null)
    {
        <div id="photos">
            @foreach (var image in Images)
            {
                @if (image.ImageData != null)
                {
                    <button @onclick="()=>modalGallery.Open(image.Id)">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(image.ImageData)" alt="Image">
                    </button>
                }
                else
                {
                    <img src="/Images/BCSLogo.jpg" alt="Image">
                }

            }
        </div>
        <ModalGallery Images="Images" @ref="modalGallery" />
    }
    else
    {
        <p>Loading...</p>
    }
</div>

@code {
    [Parameter] public List<ImageOutDto> Images { get; set; }
    private ModalGallery modalGallery { get; set; }

}
