@using BCS.Client.Features;

<style>
    .box-background {
        display: inline-block;
        background-color: rgba(225, 235, 186, 0.50);
        justify-items: center;
        align-content: center;
        width: 90%;
        height: 90%;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>
<div class="box-background">
    <div class="row">
        @foreach (var project in ProjectsList)
        {
            <ProjectCard Project="project" DeleteProject="DeleteProject" />
        }
    </div>

    <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
</div>




@code {
    [Parameter] public List<ProjectOutDto> ProjectsList { get; set; }
    [Parameter] public MetaData MetaData { get; set; }
    [Parameter] public EventCallback<int> SelectedPage { get; set; }
    [Parameter] public EventCallback<ProjectOutDto> DeleteProject { get; set; }

}
