@page "/createproject"
@inject IProjectRepository _projectRepository;
@inject IImageRepository _imageRepository;
@inject NavigationManager _navigationManager;
<div class="container-fluid">
    <div class="text-center mt-5">
        <h2>Add new Project</h2>
    </div>
    <ProjectInputComponent Project="Project" OnValidSubmit="CreateProject" />
</div>
@code {
    private ProjectInputDto Project;


    protected override void OnInitialized()
    {
        Project = new ProjectInputDto();
    }
    private async Task CreateProject()
    {
        var projectOutDto = await _projectRepository.CreateProject(Project);
        if (projectOutDto != null)
        {
            _navigationManager.NavigateTo("/projects");
        }

    }
}
