@page "/projects/{ProjectId:guid}";
@inject IProjectRepository _projectRepository;

<div class="background-box container-fluid">
    @if (Project != null)
    {
        <h1>@Project.Title</h1>
        <p>
            @Project.Description
        </p>
        <ProjectImgGallery Images="Images" />
    }
    else
    {
        <p> Loading...</p>
    }
</div>

@code {
    [Parameter] public Guid ProjectId { get; set; }

    private ProjectOutDto Project;
    private List<ImageOutDto> Images;

    protected async override Task OnInitializedAsync()
    {
        Project = await _projectRepository.GetProject(ProjectId);

        Images = Project.Images;

    }

}
