
<div class="aboutText container">
    <h1>-Our MISSION-</h1>
    <h3>To provide you with best solution for construction.</h3>
    <br />
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        pulvinar velit eget nibh blandit, hendrerit rhoncus lorem tincidunt.
        ... <a href="/about">Read more</a>
    </p>
</div>