@page "/about"
<section id="about">
    <div class="container-fluid">
        <div class="background-box">
            <div class="aboutText container pt-3">

                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                    pulvinar velit eget nibh blandit, hendrerit rhoncus lorem tincidunt.
                    Integer vitae pellentesque nulla. Maecenas semper erat turpis, quis
                    vulputate urna rutrum et. Mauris fringilla, augue viverra blandit
                    feugiat, metus magna fermentum nibh, sit amet varius risus ex in
                    dui. Duis consectetur lorem eget rutrum pharetra. Sed non urna a
                    lacus accumsan aliquet quis sit amet ipsum. Ut ac volutpat leo, ut
                    porttitor velit. Proin at erat vitae felis aliquet ornare. Fusce
                    dolor neque, dictum vel mi ac, bibendum euismod sapien. Orci varius
                    natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Phasellus suscipit sapien quis sapien venenatis
                    vestibulum. Proin blandit lacus nec tellus bibendum pharetra. Duis
                    feugiat ligula a ullamcorper cursus. Nulla elementum lacus neque, eu
                    volutpat urna gravida at. Aenean sed vehicula tellus.
                </p>
                <div class="clearfix">
                    <img class="left" src="/Images/pamati.jpg" alt="pamati" />
                    <strong>
                        <p class="imgText">
                            Proin blandit lacus nec tellus bibendum pharetra. Duis
                            feugiat ligula a ullamcorper cursus. Nulla elementum lacus neque, eu
                            volutpat urna gravida at. Aenean sed vehicula tellus.
                        </p>
                    </strong>
                </div>
                <div class="content clearfix">
                    <img class="right" src="/Images/sienas.jpg" alt="" />
                    <strong>
                        <p class="imgText">
                            Proin blandit lacus nec tellus bibendum pharetra. Duis
                            feugiat ligula a ullamcorper cursus. Nulla elementum lacus neque, eu
                            volutpat urna gravida at. Aenean sed vehicula tellus.
                        </p>
                    </strong>
                </div>
                <div class="content clearfix">
                    <img class="left" src="/Images/jumts.jpg" alt="" />
                    <strong>
                        <p class="imgText">
                            Proin blandit lacus nec tellus bibendum pharetra. Duis
                            feugiat ligula a ullamcorper cursus. Nulla elementum lacus neque, eu
                            volutpat urna gravida at. Aenean sed vehicula tellus.
                        </p>
                    </strong>
                </div>

            </div>
        </div>
    </div>
</section>
